/* Hier der Body*/
body {
	background-color: #DDDDDD;
	text-align: center;
}

/* Die Überschrift des Spiels */
#index_label_spacetaxi_header {
	top: 10px;
	position: absolute;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	width: 100%;
}


#index_impressung {
	position: absolute;
	right: 50px;
}


/* Alle weiteren Seiten des Spiels */
.page {
	position: absolute;
	display: none;
	margin-top: 80px;
	width: 100%;
}

/* Die Drop-Down Menüs der Optionen */
.options_dropdown {
	width: 150px;
}


/* Die Buttons definieren */
.button {
	display: inline-block;
	width: 120px;
	font-weight: bold;
	font-size: 15px;
	line-height: 1.8;
	cursor: pointer;
	color: white;
	font-family: helvetica;
	background-image: url(../img/button_blue.png);
    background-size: 100% 100%;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
}


#options_delete_user_button {
	display: none;
}


/* Hier die Tabelle der Seite nachrichten_abrufen */
#game_field {
	background-image: url(../img/bg.png);
    background-repeat: repeat;
	border: 1px solid black;
/*	display: inline-flex;*/
	display: inline-block;
}


/* Hier die einzelnen Spalten der Seite nachrichten_abrufen */
.game_field {
	position: relative;
	border-width: 1px;
	border-style: solid;
	min-height: 50px;
	min-width: 50px;
	max-height: 50px;
	max-width: 50px;
	text-align: center;
	vertical-align: middle;
}


/* Hier die einzelnen Spalten der Seite nachrichten_abrufen */
.options_bild {
	position: relative;
	border-width: 1px;
	border-style: solid;
/*	max-width: 50px;
	max-height: 50px;
*/	text-align: center;
	vertical-align: middle;
}

.game_element {
	cursor: pointer;
}



/* Hier die Info-Buttons*/
.info_button {
	background-color: #DDDDDD;
	width: 40px;
	height: 40px;
	text-align: center;
}


/***************************************************************************************************************************/

/* Die Klasse altert, in der die Nachrichten aufpoppen sollen. Diese sollen zu Beginn verborgen sein. */
.alert {
	text-align: left;
    display: none;
}


/* Die Buttons in den Dialogboxen */
.ui-button.dialog_button {
	color: white;
	position: relative;
	background-image: url(../img/button_blue.png);
    background-size: 100% 100%;
	border: 1 solid white;
	border-radius: 8px;
	font-size: 15px;
	float: right;
}


/* Der Bereich, in dem sich die Buttons der Dialogbox befinden */
.ui-dialog-buttonpane {
	border: 0;
	background: white;
}


/* Der X-Button des Dialogs */
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close {
	background-image: url(images/ui-icon_x.png);
    background-size: 100% 100%;
	border: 1;
}


/* Die Titelbar der Dialogbox */
.ui-corner-all {
	border: 0;
	background: white;
	color: #6B86AC;
	font-family: helvetica;
}


/* Alles andere der Dialogbox */
.ui-dialog, .ui-widget, .ui-draggable, .ui-resizable, .ui-dialog-content {
	color: white;
	position: center;
	font-family: helvetica;
	background-image: url(../img/button_blue.png);
    background-size: 100% 100%;
}
